@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --primaryTextColor: #232e35; /* untuk tittle atau judul */
    --secondaryTextColor: #656d72; /* untuk text biasa seperti paragraph contohnya */

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9; /* untuk line di pre-title */

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6 strong{
   color: var(--primaryTextColor); 
}

p {
    font-size: 1rem; /*16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
       width: 90%; 
    }
}

/* Buttons */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px;
}

/* Titles */
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Logo and Navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: var(--primaryIconColor);
}

.hero-right img {
    width: 350px; /* Perbesar ukuran gambar */
    height: 350px; /* Sesuaikan tinggi dengan lebar */
    border-radius: 50%; /* Bentuk lingkaran */
    object-fit: cover; /* Jaga proporsi gambar */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right .image-container {
    width: 380px; /* Ukuran container (sedikit lebih besar dari gambar) */
    height: 380px;
    background-color: #fbfbfb; /* Warna background */
    border-radius: 50%; /* Bentuk lingkaran */
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Profile Section */
#profile {
    background-color: var(--secondaryBackgroundColor);
    padding: var(--sectionPadding);
}

.profile .pre-title {
    margin: 0 auto;
}

.profile-title {
    text-align: center;
}

/* Portfolio Section */
.grid-3 {
    display: flex;  /* Mengatur proyek agar berjajar ke samping */
    justify-content: center; /* Memusatkan proyek */
    gap: 2rem; /* Jarak antar proyek */
    flex-wrap: wrap; /* Agar responsif di layar kecil */
}

#portfolios .section-title {
    margin-bottom: 3rem; /* Atur jarak bawah agar lebih luas */
}

.portfolios {
    background-color: #fbfbfb;
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
    width: 320px; /* Menentukan lebar setiap proyek */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan */
    transition: transform 0.3s ease;
}

.portfolio:hover {
    transform: translateY(-5px);
}

.portfolio-cover {
    height: 200px; /* Sesuaikan tinggi gambar */
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 1.5rem 1rem;
    text-align: center;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio-title h4 {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--primaryTextColor);
}

.portfolio-title a svg:hover {
    fill: var(--primaryIconColor);
}

.portfolio-title a svg {
    transition: 0.2s ease-in-out;
    width: 24px;
    height: 24px;
}

.portfolio-tags {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.portfolio-tags div {
    font-size: 0.85rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    background-color: var(--tagBackgroundColor);
    color: var(--secondaryTextColor);
    font-weight: 500;
}

/* Skills & Education */
#skills .section-title {
    margin-bottom: 3rem; /* Atur jarak bawah agar lebih luas */
}

#skills {
    padding: var(--sectionPadding);
}

.skills-grid {
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--borderColor);
    position: relative;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--borderColor);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* Contact Section*/
#contact {
    padding: var(--sectionPadding);
    background: var(--secondaryBackgroundColor);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

/* Footer Section */
footer {
    padding: 4rem 0;
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: #000;
}